<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nysgjerrig.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/76cc4315-c1a6-441e-8fd2-eb6db3fbfeb2/resourceGroups/NorwayEast/providers/Microsoft.Web/sites/Nysgjerrig</ResourceId>
    <UserName>$Nysgjerrig</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://nysgjerrig.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>